head
	title McTunes
	link(rel="shortcut icon" href="https://image.freepik.com/free-icon/black-music-icon_318-9277.jpg")
	script(src="/DragDropTouch.js")
	script(src="/jquery-3.2.1.min.js")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
	link(href='/index.css', rel='stylesheet')


	
 




div(class="loader")
	div(class="padloader")
		div(class="sk-folding-cube")
			div(class="sk-cube1 sk-cube")
			div(class="sk-cube2 sk-cube")
			div(class="sk-cube3 sk-cube")
			div(class="sk-cube4 sk-cube")
		p Thanks for telling us your music preference! We will now try to find the user who has similar taste to you. 
		p Please hold on.


header
	ol(class="lens-profile-timeline")
		if(round==0)
			li(class="",style="left: 0;")
				p Music Preference
			li(class="active", style="left: 21.7441860465%;")
				p Round 1
			li(class="",style="left: 34.7441860465%;")
				p Round 2
			li(style="left: 47.7441860465%;")
				p Round 3
			li(style="left: 60.7441860465%;")
				p Round 4
			li(style="left: 75.7441860465%;")
			li(style="right: 0;")
				p End
		else if (round==1)
			li(class="",style="left: 0;")
				p Music Preference
			li(class="", style="left: 21.7441860465%;")
				p Round 1
			li(class="active",style="left: 34.7441860465%;")
				p Round 2
			li(style="left: 47.7441860465%;")
				p Round 3
			li(style="left: 60.7441860465%;")
				p Round 4
			li(style="left: 75.7441860465%;")
			li(style="right: 0;")
				p End
		else if (round==2)
			li(class="",style="left: 0;")
				p Music Preference
			li(class="", style="left: 21.7441860465%;")
				p Round 1
			li(style="left: 34.7441860465%;")
				p Round 2
			li(class="active",style="left: 47.7441860465%;")
				p Round 3
			li(style="left: 60.7441860465%;")
				p Round 4
			li(style="left: 75.7441860465%;")
			li(style="right: 0;")
				p End
		else if (round==3)
			li(class="",style="left: 0;")
				p Music Preference
			li(class="", style="left: 21.7441860465%;")
				p Round 1
			li(style="left: 34.7441860465%;")
				p Round 2
			li(style="left: 47.7441860465%;")
				p Round 3
			li(class="active",style="left: 60.7441860465%;")
				p Round 4
			li(style="left: 75.7441860465%;")
			li(style="right: 0;")
				p End


h1(class="title")
	img(src="/mctunes.svg",width="190")


if(false)
	div(class="top-right")
		strong= "Round " +round + " of 4"

if(info)
	input(type="hidden", id="playlistMin", value=info.playlistMin)
	input(type="hidden", id="songplayedMin", value=info.songplayedMin)
	input(type="hidden", id="durationMin", value=info.durationMin)
div(id="hey")
table(id="myTable")
	tr
		if(true)
			th=""
		th Add to playlist
		th(class="left-align") Artist
		th(class="left-align") Title
		if (displayRatings=="on")
			th Rate
		if (displayRatingsTotal=="on")
			th Rating
		if(displayLikesNumber=="on")
			th=""
		if (displayLikes=="on")
			if (canSortLikes=="on")
				th(onclick="sortTable('ike','numberoflikes','.likedown','.likeup')") Like 
					span(class="likeup") ↓
					span(class="likedown") ↑
			else 
				th Like

		if (displayPopularity=="on")
			if (canSortPopularity=="on")
				th(onclick="sortTable('ularity','popularity','.popdown','.popup')") Popularity 
					span(class="popup") ↓
					span(class="popdown") ↑
			else 
				th Popularity
		if (displayTrend=="on")
			th Trend


		each val in listofsongs 
			audio(id=val._id,name=val.title)
				source(src = val.path ,type="audio/mpeg")
		each val in listofsongs
			tr(value=val._id)
				if(true)
					td
						button(onclick="play('" + val._id + "')",class="playbutton")="►"+" "
				td 
					if (playlist[playlist.findIndex(x => x.id== val._id)])
						button(class="removeplaylist",value=val._id, artist=val.artist,title=val.title) ✓
					else
						button(class="playlist",value=val._id,artist=val.artist,title=val.title) 	+
				td(class="left-align")=val.artist
				td(class="left-align")=val.title
				if (displayRatings=="on")
					td
						if (useratings[useratings.findIndex(x => x.id== val._id)])
							if (useratings[useratings.findIndex(x => x.id== val._id)].rating == 1)
								div(class="score1 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
							if (useratings[useratings.findIndex(x => x.id==val._id)].rating== 2)
								div(class="score2 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
							if (useratings[useratings.findIndex(x => x.id==val._id)].rating == 3)
								div(class="score3 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
							if (useratings[useratings.findIndex(x => x.id==val._id)].rating == 4)
								div(class="score4 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
							if (useratings[useratings.findIndex(x => x.id==val._id)].rating == 5)
								div(class="score5 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
						else
							div(class="score0 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
				if (displayRatingsTotal=="on")
					td
						span=val.ratings
				if (displayLikes=="on")
					td
						div(class="likeunlike")
							- if (arrayoflikess.indexOf(val.id) == -1 )
								button(class="like",value=val._id) 	♥ 
							- else 
								button(class="unlike",value=val._id) ♥
				if(displayLikesNumber=="on")
					td(numberoflikes=val.numberOfLikes)
						div(class="likeunlike")
							span= val.numberOfLikes.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,').toString().split(".0")[0]

				if (displayPopularity=="on")
					td(popularity=val.popularity)
						div(class="ratings")
							- for (var i = 1; i <= val.popularity; ++i) {
								span(class="blackPop") | 
							- }
							- for (var i = val.popularity + 1; i <= 10; ++i) {
								span(class="greyPop") | 
							- }
				if (displayTrend=="on")
					td
						if (val.trend =="up")
							span(class="trendUp updownsign") ↑ 
							span(class="trendUp")= val.trendValue
						if (val.trend =="down")
							span(class="trendDown updownsign") ↓ 
							span(class="trendDown")= val.trendValue
						if (val.trend =="equal")
							span(class="updownsign")="-" 
							span(class="trendEqual")=""

					

div(id="mainplayer",class="hideplayer")
	div(id="displayedTitle") No song played
	
	img(src="http://pluspng.com/img-png/pause-button-png-rounded-pause-button-free-icon-512.png",class="playpause pause",onclick="pause()") 
	img(src="http://cdn.onlinewebfonts.com/svg/img_217916.png",class="playpause play",onclick="unpause()") 
	="     "
	="     "
	span(id="currentTime") 0 : 00
	br
	br
	div(id="progressBar")
		span(id="progress")



div(class="mainplayer")
	if(info)
		p=info.durationMin+ " seconds listening"




input(class="abandon myButton",type='button',value='Quit')


div(class="confirmation2")
	p Do you want to abandon the experiment ? All your data will be deleted.
	form(class="playpause",ref='uploadForm',action='/abandon',method='post',encType="multipart/form-data",id="myCoolForm", style="display: inline; text-align: center;")
		div
			input(class="myButton cc",type='submit',value='Yes')
			input(class="noquit myButton cc",type='button',value='No')

input(class="instructions myButton",type='submit',value='Instructions')





div(class="modall")

	div(class="explain")
		h4 Help
		p 
			strong Play
			span : 
			span(class="click") click 
			button(class="plylist") 	► 
			span=" "+"or "
			span(class="click") double click 
			span  on song
		p 
			strong Add 
			span to playlist: 
			span(class="click") click 
			button(class="plylist") 	+
		p 
			strong Remove
			span : 
			span(class="click") click 
			button(class="plylist") 	✔

	div(class="borderedPlaylist")
		br
		strong Playlist 
		br

		ul
			div(id="columns", class="columns") 
				each val in listofsongs
					if (playlist[playlist.findIndex(x => x.id== val._id)])
						div(id=val._id, class="column container2")
							li=val.artist+" - "+val.title




		input(id="sorted1",class="myButton preconfirm modal else",type='button',value='Confirm playlist')
		input(class="else myButton nextstep",type='button',value='Confirm playlist')
		div(class="confirmation")
			p Have you ranked the songs according to your preference? If not, please drag and drop the songs.
			button(id="sorted", class="myButton") Yes
			input(class="myButton unsorted",type='button',value='Cancel')

		div(class="bottom-right red")
				if(info.playlistMin > 0)
					p="Please add at least " + info.playlistMin +"  songs to your playlist"

				- if(parseInt(info.songplayedMin) > 0)
					p="Please play at least " + info.songplayedMin +"  songs."

	



div(class="modal2")

	h1 Instructions
	h3="(Click anywhere to close)"
	if(info)
		p!=info.instructions
	button(class="top-right myButton") X




script(src="/index2.js")

script(src="/music.js")