head
	title MUSIC RESEARCH
	link(href='/index.css', rel='stylesheet')
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  



table(id="myTable")
	tr
		th
		th=""
		th Add to playlist
		th Artist
		th Title
		if (displayRatings=="on")
			th Rate
		if (displayRatingsTotal=="on")
			th Rating
		if(displayLikesNumber=="on")
			th=""
		if (displayLikes=="on")
			if (canSortLikes=="on")
				th(onclick="sortTable('ike','numberoflikes','.likedown','.likeup')") Like 
					span(class="likeup") ↓
					span(class="likedown") ↑
			else 
				th Like

		if (displayPopularity=="on")
			if (canSortPopularity=="on")
				th(onclick="sortTable('ularity','popularity','.popdown','.popup')") Popularity 
					span(class="popup") ↓
					span(class="popdown") ↑
			else 
				th Popularity
		if (displayTrend=="on")
			th Trend

		each val in listofsongs
			tr(value=val._id)
				td
					audio(id=val._id,name=val.title)
						source(src = val.path ,type="audio/mpeg")  
				td
					button(onclick="play('" + val._id + "')",class="hideplayer") 	►
				td 
					if (playlist[playlist.findIndex(x => x.id== val._id)])
						button(class="removeplaylist",value=val._id) ✓
					else
						button(class="playlist",value=val._id) 	+
				td=val.artist
				td=val.title
				if (displayRatings=="on")
					td
						if (useratings[useratings.findIndex(x => x.id== val._id)])
							if (useratings[useratings.findIndex(x => x.id== val._id)].rating == 1)
								div(class="score1 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
							if (useratings[useratings.findIndex(x => x.id==val._id)].rating== 2)
								div(class="score2 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
							if (useratings[useratings.findIndex(x => x.id==val._id)].rating == 3)
								div(class="score3 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
							if (useratings[useratings.findIndex(x => x.id==val._id)].rating == 4)
								div(class="score4 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
							if (useratings[useratings.findIndex(x => x.id==val._id)].rating == 5)
								div(class="score5 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
						else
							div(class="score0 scores")
									span(id="astar1",value=val._id) ★ 
									span(id="bstar1",value=val._id) ☆ 
									span(id="astar2",value=val._id) ★ 
									span(id="bstar2",value=val._id) ☆ 
									span(id="astar3",value=val._id) ★ 
									span(id="bstar3",value=val._id) ☆ 
									span(id="astar4",value=val._id) ★ 
									span(id="bstar4",value=val._id) ☆ 
									span(id="astar5",value=val._id) ★ 
									span(id="bstar5",value=val._id) ☆
				if (displayRatingsTotal=="on")
					td
						span=val.ratings
				if (displayLikes=="on")
					td
						div(class="likeunlike")
							- if (arrayoflikess.indexOf(val.id) == -1 )
								button(class="like",value=val._id) 	♥ 
							- else 
								button(class="unlike",value=val._id) ♥
				if(displayLikesNumber=="on")
					td(numberoflikes=val.numberOfLikes)
						div(class="likeunlike")
							span= val.numberOfLikes.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,').toString().split(".0")[0]

				if (displayPopularity=="on")
					td(popularity=val.popularity)
						div(class="ratings")
							- for (var i = 1; i <= val.popularity; ++i) {
								span(class="blackPop") | 
							- }
							- for (var i = val.popularity + 1; i <= 10; ++i) {
								span(class="greyPop") | 
							- }
				if (displayTrend=="on")
					td
						if (val.trend =="up")
							span(class="trendUp") ↑ 
							span(class="trendUp")= val.trendValue
						if (val.trend =="down")
							span(class="trendDown") ↓ 
							span(class="trendDown")= val.trendValue
					

div(id="mainplayer",class="hideplayer")
	div(id="displayedTitle") No song played
	button(class="playpause pause",onclick="pause()") PAUSE
	button(class="playpause play",onclick="unpause()") PLAY
	="     "
	="     "
	span(id="currentTime") 0 : 00
	br
	br
	div(id="progressBar")
		span(id="progress")



div(class="mainplayer")
	p 30 seconds listening



form(class="else playpause hidenext",ref='uploadForm2',action='/nextstep',method='post',encType="multipart/form-data",id="myCoolForm2")
	input(class="else myButton",type='submit',value='Next step')



form(class="abandon playpause",ref='uploadForm',action='/abandon',method='post',encType="multipart/form-data",id="myCoolForm")
	input(class="abandon myButton hideplayer",type='submit',value='Abandon',onclick="return confirm('Are you sure you want to exit the experiment? All your data will be deleted.');")





script(src="/music.js")