script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

each round in rounds
	p=round.name
	p=round.round1
	p=round.round2
	p=round.round3
	p=round.round4
	p=round.round5
	button(value=round._id) DELETE
	br
	br

script(src="/roundsview.js")