- var price = Math.floor(Math.random() * 10000000000000)


head
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	link(href='/background.css', rel='stylesheet')
	script(src="/jquery-3.2.1.min.js")

h1 McGilltiFy 




div(class="center")
	form(action="/signup" method="post")

		if(back)
			p Welcome back to the experiment ! 
			br
			input(type="hidden",class="form-control",name="email",value=back.back)
			input(type="hidden",class="form-control",name="password",value=back.back)

		else
			p Please remember the following link so that if you are interrupted or have to leave the experiment and return later, you can use this link to continue your experiment.
			a(href="http://ec2-34-215-131-37.us-west-2.compute.amazonaws.com"+"/signup?back="+price)="http://ec2-34-215-131-37.us-west-2.compute.amazonaws.com/signup?back="+price

			input(type="hidden",class="form-control",name="email",value=price)
			input(type="hidden",class="form-control",name="password",value=price)


		br
		br
		br



		p Please indicate your preference for each of the following genres using the scale provided
		each genre in ["Jazz", "Rock", "Pop"]
			br

			div(class="vertical-align")

				div(class="btns")
					strong=genre +" : "
					input(type="radio",name=genre,id=genre+0,value=0, style="display:none")
					label(class=label, for=genre+0, class="unknown")=" I have never hear of this genre"
					each answer, index in ["Dislike Strongly","Dislike Moderately","Dislike a little","Neither like nor dislike","Like a little","Like Moderately","Like Strongly"]
						&nbsp;
						span=" --- "
						&nbsp;
						input(checked='',type="radio",name=genre, value=index,id=genre+(index+1), style="display:none")
						label(class="label",for=genre+(index+1))
							span(class="red")=""+(index+1)
							span=" "+answer +" "
						input(class="verify",type="radio",name=genre,id="null",value="", style="display:none",checked="checked")

			br


		br
		button(type="submit", class="myButton") Continue
		button(type="input", class="myButton test") Continue Test


		script(src="/survey.js")